.nav{
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 20px;
    font-size: 32px;
}
.nav a{
    background-color: rgb(206, 215, 209);
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;  

}