.aside {
    background-color: bisque;
    margin-left: -400px;
    float: left;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    padding: 100px 60px;
    height: 100vh;
    width: 400px;
    position: sticky;
    top:0;
}



@keyframes circle {

    0% {
        margin-left: -400px;
    }

    50% {
        margin-left: -200px;
    }

    100% {
        margin-left: 0;
    }
}

.open {
    animation-name: circle;
    margin-left: 0;
}

.close {
    margin-left: -400px;
}
